<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
    <title>All Product</title>
</head>
<body>
    <h1>View all products</h1>
    <div class="container">
        <table class="table">
            <form action="/search" method="post">
    Name <input type="text" name="search">
    <input type="submit" value="Search">
    </form>
    <ul>
        {{#each results}}
            <li>{{name}} - {{price}}
                <br>
                <img src="{{pictureURL}}" width="150" height="100"/>
                <br>
                <a href="/delete?id={{_id}}" onclick="return confirm('Are you sure to delete?')">Delete</a>
                <br>
                <a href="/Edit?id={{_id}}">Edit</a>
            </li>
        {{/each}}
    </ul>
        </table>
        
    </div>
        
    
    
    
</body>
</html>